body {
	background-color: #333333;
}
a:link {
	font-weight: bold;
	color: #EEEEEE;
	font-family: Verdana;
}
h1{
	font-weight: bold;
	color: #EEEEEE;
	font-size: 2em;
	font-family: Verdana;
	text-align: center;
}
#embed-spaceDingus {
    margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height:	600px;
	width: 1000px;
}
#footer {
   position: absolute;
   bottom: 0;
   z-index: -1;
}